# Ignore everything in this directory:
/*
/*/

# except:
!.gitignore

# and also:
!/.cz.yaml
!/.pre-commit-config.yaml
!/*.md

!/LICENSE
!/VERSION

!/.github/
!/bootstrap/
!/docker/
!/files/
!/pillar/
!/salt/
!/script/
